/* Variables */
:root {
    --oorange: #f25c16;
    --dark: #333;
    --light: #f9f9f9;
    --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--dark);
    background-color: var(--light);
}

.bowlby-one {
    font-family: "Bowlby One SC", sans-serif;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
}

.public-sans {
    font-family: "Public Sans", sans-serif;
}

a {
    color: var(--oorange);
    text-decoration: none;
    transition: font-size 0.3s ease;
}

a:hover {
    font-size: 1.1em;
}

/* Header */
header {
    background: var(--dark);
    color: var(--light);
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow);
}

header h1 {
    margin: 0;
    font-size: 6em;
}

.btn-primary {
    background-color: var(--oorange);
    border: none;
    padding: 1rem;
}

.btn-primary:hover {
    background-color: var(--dark);
    color: var(--light);

}

/* Main Content */
main {
    margin: 40px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align:justify; */
}

section h4 {
    font-size: 2rem;
}

section h3 {
    font-size: 2.5rem;
}

/* RATES */
.monthly,
.hourly {
    width: 100%;
    text-align: center;
}

.monthly ul,
.hourly ul {
    list-style-type: none;
    padding-left: 0;
}

/* Google Maps iFrame */
.map-container {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container iframe {
    max-width: 100%;
    border-radius: 8px;
}

/* Footer */
footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer h6 {
    margin: 0;
    font-size: 1.9rem;
}